.scroll-content {
  padding: 0 !important;
  overflow-y: hidden;
}

#transaction-display {
  text-align: center;
  background-color: transparent;
  min-height: 50%;
  box-shadow: 0px 5px 20px #656565;
  z-index: 1;
  width: 100%;
}

#transaction-numbers {
  font-size: 150px;
  text-align: center;
}

#details-button-row {
  height: 6%;
  background: #cbccce;
  text-align: center;
  cursor: pointer;
  top: 45%;
}

.small-font {
  font-size: 12px;
  margin-bottom: 0;
}

.select-icon {
  display: none;
}

.select {
  padding: 0;
}

ion-select {
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ion-col > h1 {
  display: inline;
}

.display ion-col {
  max-height: 73%;
}

.shadow {
  box-shadow: 0px -12px 16px 15px #7d7d88, inset -1px -2px 20px 6px #bfc4de;
  z-index: 1;
}

#transaction-icon {
  font-size: 3em;
  text-align: center;
  width: 100%;
  margin-left: 20%;
}

#transaction-currency, #transaction-icon {
  line-height: 200px;
  text-align: center;
}

.display {
  height: 45%;
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

.calculator {
  height: 50%;
  top: 50%;
}

.calculator > ion-row {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
}

.calculator {
  text-align: center;
}

.keypad {
  background: #F8F8F8; /* fallback for old browsers */
}

.operations {
  background: #E8E8E8;
}

.keypad ion-row {
  height: 25%;
}

.operations > ion-row {
  height: 100%;
}

.btn-group h1, .side-btn-group h1 {
  height: 100%;
  width: 100%;
  text-align: center;
}

.btn-group button {
  width: 33%;
  min-height: 50px;
  background-color: transparent;
}

.item-inner{
  background-image: none !important;
  border-bottom: none !important;
}

.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
  padding-right: 8px;
}

.btn-group button:last-child {
  width: 34%;
}

.side-btn-group button {
  width: 100%;
  height: 20%;
  background-color: transparent;
}

ion-grid {
  position: absolute;
  top: 0;
}
