.scroll-content {
  padding: 0 !important;
  overflow-y: hidden;
}

#transaction-display {
  text-align: center;
  background-color: transparent;
  min-height: 50%;
  box-shadow: 0px 5px 20px #656565;
  z-index: 1;
  width: 100%;
}

#transaction-numbers {
  font-size: 150px;
  text-align: center;
}

.shadow {
  box-shadow: 0px -12px 16px 15px #242427, inset -1px -2px 20px 6px #223dd8;
  z-index: 1;
}

#transaction-icon {
  font-size: 70px;
}

#transaction-currency, #transaction-icon {
  line-height: 200px;
  text-align: center;
}

.display {
  height: 40%;
  background: #2948ff;
}

.calculator {
  height: 60%;
}

.calculator > ion-row {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
}

.calculator {
  text-align: center;
}

.keypad {
  background: #F8F8F8; /* fallback for old browsers */
}

.operations {
  background: #E8E8E8;
}

.keypad ion-row {
  height: 25%;
}

.operations > ion-row {
  height: 100%;
}

.btn-group h1, .side-btn-group h1 {
  margin-top: 2rem !important;
  height: 100%;
}

.btn-group div {
  width: 33%;
  min-height: 50px;
  background-color: transparent;
}

.btn-group div {
}

.btn-group div:last-child {
  width: 34%;
}

.side-btn-group div {
  width: 100%;
  height: 20%;
  background-color: transparent;
}
